.madison{
    padding: 80px 0;
}
.madison .left{
    max-width: 685px;
    margin: 0 auto;
}
.madison .left h2{
    font-size: 50px;
    line-height: 66px;
    padding-bottom: 30px;
}
.madison .left p{
    font-size: 18px;
    line-height: 28px;
    color: #000;
    padding-bottom: 20px;
}
.madison .right{
    background-color: #868686;
    padding: 30px 0;
    position: relative;
    border-radius: 5px;
}
.madison .right .right_inner{
    position: absolute;
    top: 30px;
    left: -40px;
    height: 450px!important;
    width: 100%;
    background-color: #ececec;
    height: 100%;
    text-align: center;
    padding: 30px;

}
.madison .right .right_inner h3{
    font-size: 24px;
    line-height: 40px;
}
.madison .right .right_inner img{
    width: 100%;
    height: 100%;
}
@media(max-width: 767px) {
    .madison{
        padding: 30px;
    }
    .madison .left h2{
        font-size: 32px;
        line-height: 40px;
    }
    .madison .right{
        margin: 30px 0;
    }
    .madison .right .right_inner{
        position: relative;
        left: -30px;
        height: 400px!important;
        top: unset;
    }
}
@media(min-width: 768px) and (max-width: 1023px){
    .madison{
        padding: 30px;
    }
    .madison .left h2{
        font-size: 32px;
        line-height: 40px;
    }
    .madison .right{
        margin: 30px 0;
    }
    .madison .right .right_inner{
        position: relative;
        left: -30px;
        height: 400px!important;
        top: unset;
    }
    .diffmadisonerent .right .right_inner br{
        display: block;
    }
  }
  @media(min-width: 1024px) and (max-width: 1365px){
    .newsletter{
        padding: 30px;
    }
    .newsletter .space{
        padding: 0px 15px 0 0;
    }
    .newsletter .news_in{
        text-align: center;
    }
}